<header class="headerFragment pure-menu pure-menu-horizontal"  th:fragment="headerFragment" xmlns:th="http://www.springframework.org/schema/security">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/myprofile" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item"><a href="/create/post" class="pure-menu-link">Create Post</a></li>
        <li class="pure-menu-item"><a href="/users" class="pure-menu-link">All Users</a></li>
        <li class="pure-menu-item"><a href="/feed" class="pure-menu-link">Feed</a></li>
        <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
    </ul>
</header>