<section th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img src="/img/tm.png" style="width:60px;">
                <span style="font-style: italic;"></span></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/main">Home</a></li>
                <li><a href="/tickets/all">All Tickets</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/potato">Logout</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/main">Home</a></li>
        <li><a href="/tickets/all">All Tickets</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/potato">Logout</a></li>
    </ul>
</section>
