<section th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img src="/img/tm.png" style="width:60px;">
                <span style="font-style: italic;"></span></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/potato">Logout</a></li>
            </ul>
        </div>
    </nav>
</section>