body {
    min-height: 100%;
    min-height: 100vh;
    background: #F0F0F0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

#main1button{
    text-align:right;
}

.input-field input:focus + label {
	color: #232f3e !important;
}

.row .input-field input:focus {
	border-bottom: 1px solid #232f3e !important;

}

.class {
     margin-top: 20px;
     padding: 20px;
}

.navbar {
	background-color: #232f3e !important;
	margin-bottom: 25px;
}

footer {
    background-color: #232f3e !important;
}

.secondary-content {
	border: hidden;
}

#alltickets {

}

/* Mobile friendly text */
@media screen and (min-width: 601px) {
	div.mobilefriendlytext {
	    text-align:center;
        font-size: 25px;
	}
}

@media screen and (max-width: 600px) {
	div.mobilefriendlytext {
	    text-align:center;
		font-size: 15px;
	}
}

.btn {
    background-color: #ff9900 !important;
}
.btn2 {
    color: #ff9900 !important;
    background-color: #fff !important;
}

.btn:hover {
	background-color: #ffd699 !important;
}
.btn2:hover {
	color: #ffd699 !important;
}

/* Ticket card Summary highlight */
.ticketLink {
    font-weight:800;
}
.ticketLink:hover {
	color: #ff9900 !important;
}

/* Pulse animation */
.severity2 {
  font-weight: 800;
  color: #ffab35 !important;
	-webkit-animation: flash linear 1.5s infinite;
  animation: flash linear 1.5s infinite;
}
.severity5 {
  font-weight: 800;
  color: #38ad32 !important;
}
.resolved {
  color: #a8a8a8 !important;
}
@-webkit-keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% { opacity: 1; }
}
@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% { opacity: 1; }
}


/* Ticket card menu buttons justified to the right of card */
.box {
  display: flex;
}
.push {
    margin-left: auto;
}
