<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Us Page</title>
</head>
<body>
    <nav></nav>

    <h1>About us</h1>

    <h2>Team Long</h2>

    <form>
        <h3>Vinh Nguyen</h3>
        <img src="/img/Vinh.png">
        <p>I have a background in Mechanical, Nuclear, and
            Electrical Engineering alongside Software Development.
            After completing my studies at the University of
            Washington, I decided to pursue Software Development
            to complement my existing skills and knowledge.</p>

    </form>

    <form>
        <h3>William Fritts</h3>
        <img src="/img/Will.png">
        <p>Insert Bio Here</p>
    </form>

    <form>
        <h3>Doug Klemp</h3>
        <img src="/img/Doug.png">
        <p>Insert Bio Here</p>
    </form>

    <form>
        <h3>Anthony Berry</h3>
        <img src="/img/Me.jpg">
        <p>Anthony is a Software Developer with college and
            coding boot camp experience. I am originally from
            Augusta, GA, a Down South Georgia boy, and loves
            Seattle because of the technology industries here.
            I love the challenges coding bring and wants to be
            a part of creating the future technologies rather
            than just being a consumer of technology.</p>
    </form>
</body>
</html>