<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->
<!--<head>-->
    <!--<meta charset="utf-8" />-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
    <!--<title>Layout page</title>-->
    <!--<script src="common-script.js"></script>-->
    <!--<link href="/main.css" rel="stylesheet" />-->
    <!--&lt;!&ndash;Import Google Icon Font&ndash;&gt;-->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <!--&lt;!&ndash;Import materialize.css&ndash;&gt;-->
    <!--<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
    <!--<h1>My website</h1>-->
<!--</header>-->
<!--<section layout:fragment="fragments/login">-->
    <!--<p>Page content goes here</p>-->
<!--</section>-->
<!--<footer>-->
    <!--<p>My footer</p>-->
    <!--<p layout:fragment="footer"></p>-->
<!--</footer>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>-->
<!--</body>-->
<!--</html>-->