<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="/css/main.css" rel="stylesheet" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<center class="mainheader">

    <div>
        <div class="mobilefriendlytext">You have (<span><a class="ticketLink" href='/login'>3</a></span>) Tickets Assigned.</div>
    </div>
    <div>
        <a href="/create/ticket" class="waves-effect waves-light btn btn-small tooltipped" data-position="bottom"
           data-tooltip="Create a new Trouble Ticket">Create Ticket</a>
    </div>
    </center>

</div>

<section id="alltickets">
    <div class="row">
        <div class="col s12 m2 l2"></div>
        <div class="col s12 m8 l8">
            <ul class="collapsible popout">
                <li th:each="ticket : ${tickets}">

                        <div class="collapsible-header box" th:switch="${ticket.severity}">
                        <i th:case="'1'" class="material-icons medium severity1 tooltipped" data-position="left"
                           data-tooltip="Severity 2 escalation subject to 30 min response time.">looks_one</i>
                        <i th:case="'2'" class="material-icons medium severity2 tooltipped" data-position="left"
                           data-tooltip="Severity 2 escalation subject to 30 min response time.">looks_two</i>
                        <i th:case="'3'" class="material-icons medium severity3 tooltipped" data-position="left"
                           data-tooltip="Severity 2 escalation subject to 30 min response time.">looks_3</i>
                        <i th:case="'4'" class="material-icons medium severity4 tooltipped" data-position="left"
                           data-tooltip="Severity 2 escalation subject to 30 min response time.">looks_4</i>
                        <i th:case="'5'" class="material-icons medium severity5 tooltipped" data-position="left"
                           data-tooltip="Severity 2 escalation subject to 30 min response time.">looks_5</i>

                        <span class="title mobilefriendlytext"/>
                        <!--must add resolved class-->
                        <a class="ticketLink" th:href="@{/edit/} + ${ticket.id}">
                            <span th:text="${ticket.title}"></span></a>
                        </span>
                        <form method="GET" th:action="@{/edit/} + ${ticket.id}" class="push">
                            <!--Example: th:value="${ticket.id} to see detail page-->
                            <input name="none" type="hidden">
                            <button class="secondary-content btn2 tooltipped" data-position="top"
                               data-tooltip="See more details and modify this ticket." type="submit" ><i class="material-icons Small">edit</i></button>
                        </form>
                        <form method="POST" action="#">
                            <!--Example: th:value="${ticket.id} for adding to user favorites-->
                            <input name="Symbol" type="hidden">
                            <button class="secondary-content btn2 tooltipped" data-position="top"
                               data-tooltip="Hint: You can only archive tickets that are resolved." type="submit" ><i class="material-icons Small">archive</i></button>
                        </form>
                    </div>
                    <!--th:text: Ticket Summary-->
                    <div class="collapsible-body"><span th:text="${ticket.summary}"></span></div>
                </li>
            </ul>
        </div>
            <div class="col s12 m2 l2"></div>
    </div>
</section>
<div th:replace="fragments/footer :: footer"></div>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="/javascript/style.js"></script>
</body>
</html>




