<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="/css/main.css" rel="stylesheet" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="row box">

    <div class="col s8 m8 l8">
        <div class="mobilefriendlytext">You have (<span><a class="ticketLink" href='/login'>3</a></span>) Tickets Assigned.</div>
    </div>
    <div class="col s2 m2 l2" push>
        <a href="/create/ticket" class="waves-effect waves-light btn btn-small tooltipped" data-position="bottom"
           data-tooltip="Create a new Trouble Ticket">Create Ticket</a>
    </div>
    <div class="col s2 m2 l2">
        <a href="#" class="waves-effect waves-light btn btn-small tooltipped" data-position="bottom"
           data-tooltip="View your archived tickets">Archive</a>
    </div>
    </div>

</div>

<section id="alltickets">
    <div class="row">

        <div class="col s12 m2 l2">
        </div>

        <div class="col s12 m8 l8">
            <ul class="collapsible popout">
                <!--Main Ticket Cards Example loop on li: th:each="ticket : ${allTickets}"-->
                <li>
                    <div class="collapsible-header box">
                        <i class="material-icons medium severity2 tooltipped" data-position="left"
                           data-tooltip="Severity 2 escalation subject to 30 min response time.">looks_two</i>
                        <span class="title mobilefriendlytext"/>
                        <!-- th:href Ticket id -->
                        <a class="ticketLink" href='/ticket/detail' style="font-weight:bold;">Toilet is overflowing in the women's bathrooom!</a>
                        </span>
                        <form method="POST" action="#" class="push">
                            <!--Example: th:value="${ticket.id} to see detail page-->
                            <input name="Symbol" type="hidden">
                            <a class="secondary-content btn2 tooltipped" data-position="top"
                               data-tooltip="See more details and modify this ticket." type="submit" ><i class="material-icons Small">edit</i></a>
                        </form>
                        <form method="POST" action="#">
                            <!--Example: th:value="${ticket.id} for adding to user favorites-->
                            <input name="Symbol" type="hidden">
                            <a class="secondary-content btn2 tooltipped" data-position="top"
                                    data-tooltip="Hint: You can only archive tickets that are resolved." type="submit" ><i class="material-icons Small">archive</i></a>
                        </form>
                    </div>
                    <!--th:text: Ticket Summary-->
                    <div class="collapsible-body"><span>Phasellizzle interdizzle volutpizzle tellizzle. Ut sure adipiscing lorizzle.
                        My shizz non est. Nulla sapizzle shiznit, ultricizzle nizzle, accumsizzle vel, fermentizzle quis, ghetto.
                        Yo mamma nizzle phat. Etizzle pizzle shizzlin dizzle ante. Mauris crazy.
                        Vestibulizzle izzle pede varius nibh commodo commodo.</span></div>
                </li>

                <li>
                    <div class="collapsible-header box">
                        <i class="material-icons medium severity2 tooltipped" data-position="left"
                           data-tooltip="Severity 2 escalation subject to 30 min response time.">looks_two</i>
                        <span class="title mobilefriendlytext"/>
                        <!-- th:href Ticket id -->
                        <a class="ticketLink" href='/ticket/detail' style="font-weight:bold;">Test Ticket!!</a>
                        </span>
                        <form method="POST" action="#" class="push">
                            <!--Example: th:value="${ticket.id} to see detail page-->
                            <input name="Symbol" type="hidden">
                            <a class="secondary-content btn2 tooltipped" data-position="top"
                               data-tooltip="See more details and modify this ticket." type="submit" ><i class="material-icons Small">edit</i></a>
                        </form>
                        <form method="POST" action="#">
                            <!--Example: th:value="${ticket.id} for adding to user favorites-->
                            <input name="Symbol" type="hidden">
                            <a class="secondary-content btn2 tooltipped" data-position="top"
                               data-tooltip="Hint: You can only archive tickets that are resolved." type="submit" ><i class="material-icons Small">archive</i></a>
                        </form>
                    </div>
                    <!--th:text: Ticket Summary-->
                    <div class="collapsible-body"><span>Phasellizzle interdizzle volutpizzle tellizzle. Ut sure adipiscing lorizzle.
                        My shizz non est. Nulla sapizzle shiznit, ultricizzle nizzle, accumsizzle vel, fermentizzle quis, ghetto.
                        Yo mamma nizzle phat. Etizzle pizzle shizzlin dizzle ante. Mauris crazy.
                        Vestibulizzle izzle pede varius nibh commodo commodo.</span></div>
                </li>

                <li>
                    <div class="collapsible-header box"><i class="material-icons medium severity5">looks_5</i>
                        <span class="title mobilefriendlytext"/>
                        <!-- th:href Ticket id -->
                        <a class="ticketLink" href='/ticket/detail' style="font-weight:bold;">Test Ticket!!</a>
                        </span>
                        <form method="POST" action="#" class="push">
                            <!--Example: th:value="${ticket.id} to see detail page-->
                            <input name="Symbol" type="hidden">
                            <a class="secondary-content btn2 tooltipped" data-position="top"
                               data-tooltip="See more details and modify this ticket." type="submit" ><i class="material-icons Small">edit</i></a>
                        </form>
                        <form method="POST" action="#">
                            <!--Example: th:value="${ticket.id} for adding to user favorites-->
                            <input name="Symbol" type="hidden">
                            <a class="secondary-content btn2 tooltipped" data-position="top"
                               data-tooltip="Hint: You can only archive tickets that are resolved." type="submit" ><i class="material-icons Small">archive</i></a>
                        </form>
                    </div>
                    <!--th:text: Ticket Summary-->
                    <div class="collapsible-body"><span>Phasellizzle interdizzle volutpizzle tellizzle. Ut sure adipiscing lorizzle.
                        My shizz non est. Nulla sapizzle shiznit, ultricizzle nizzle, accumsizzle vel, fermentizzle quis, ghetto.
                        Yo mamma nizzle phat. Etizzle pizzle shizzlin dizzle ante. Mauris crazy.
                        Vestibulizzle izzle pede varius nibh commodo commodo.</span></div>
                </li>

                <li>
                    <div class="collapsible-header box"><i class="material-icons medium resolved">looks_5</i>
                        <span class="title mobilefriendlytext"/>
                        <!-- th:href Ticket id -->
                        <a class="ticketLink resolved" href="/ticket/detail">Test Ticket!!</a>
                        </span>
                        <form method="POST" action="#" class="push">
                            <!--Example: th:value="${ticket.id} to see detail page-->
                            <input name="Symbol" type="hidden">
                            <a class="secondary-content btn2 tooltipped" data-position="top"
                               data-tooltip="See more details and modify this ticket." type="submit" ><i class="material-icons Small">edit</i></a>
                        </form>
                        <form method="POST" action="#">
                            <!--Example: th:value="${ticket.id} for adding to user favorites-->
                            <input name="Symbol" type="hidden">
                            <a class="secondary-content btn2 tooltipped" data-position="top"
                               data-tooltip="Hint: You can only archive tickets that are resolved." type="submit" ><i class="material-icons Small">archive</i></a>
                        </form>
                    </div>
                    <!--th:text: Ticket Summary-->
                    <div class="collapsible-body"><span>Phasellizzle interdizzle volutpizzle tellizzle. Ut sure adipiscing lorizzle.
                        My shizz non est. Nulla sapizzle shiznit, ultricizzle nizzle, accumsizzle vel, fermentizzle quis, ghetto.
                        Yo mamma nizzle phat. Etizzle pizzle shizzlin dizzle ante. Mauris crazy.
                        Vestibulizzle izzle pede varius nibh commodo commodo.</span></div>
                </li>

                <li>
                    <div class="collapsible-header box"><i class="material-icons medium resolved">looks_5</i>
                        <span class="title mobilefriendlytext"/>
                        <!-- th:href Ticket id -->
                        <a class="ticketLink resolved" href="/ticket/detail">Test Ticket!!</a>
                        </span>
                        <form method="POST" action="#" class="push">
                            <!--Example: th:value="${ticket.id} to see detail page-->
                            <input name="Symbol" type="hidden">
                            <a class="secondary-content btn2 tooltipped" data-position="top"
                               data-tooltip="See more details and modify this ticket." type="submit" ><i class="material-icons Small">edit</i></a>
                        </form>
                        <form method="POST" action="#">
                            <!--Example: th:value="${ticket.id} for adding to user favorites-->
                            <input name="Symbol" type="hidden">
                            <a class="secondary-content btn2 tooltipped" data-position="top"
                               data-tooltip="Hint: You can only archive tickets that are resolved." type="submit" ><i class="material-icons Small">archive</i></a>
                        </form>
                    </div>
                    <!--th:text: Ticket Summary-->
                    <div class="collapsible-body"><span>Phasellizzle interdizzle volutpizzle tellizzle. Ut sure adipiscing lorizzle.
                        My shizz non est. Nulla sapizzle shiznit, ultricizzle nizzle, accumsizzle vel, fermentizzle quis, ghetto.
                        Yo mamma nizzle phat. Etizzle pizzle shizzlin dizzle ante. Mauris crazy.
                        Vestibulizzle izzle pede varius nibh commodo commodo.</span></div>
                </li>

                <li>
                    <div class="collapsible-header box"><i class="material-icons medium resolved">looks_5</i>
                        <span class="title mobilefriendlytext"/>
                        <!-- th:href Ticket id -->
                        <a class="ticketLink resolved" href="/ticket/detail">Test Ticket!!</a>
                        </span>
                        <form method="POST" action="#" class="push">
                            <!--Example: th:value="${ticket.id} to see detail page-->
                            <input name="Symbol" type="hidden">
                            <a class="secondary-content btn2 tooltipped" data-position="top"
                               data-tooltip="See more details and modify this ticket." type="submit" ><i class="material-icons Small">edit</i></a>
                        </form>
                        <form method="POST" action="#">
                            <!--Example: th:value="${ticket.id} for adding to user favorites-->
                            <input name="Symbol" type="hidden">
                            <a class="secondary-content btn2 tooltipped" data-position="top"
                               data-tooltip="Hint: You can only archive tickets that are resolved." type="submit" ><i class="material-icons Small">archive</i></a>
                        </form>
                    </div>
                    <!--th:text: Ticket Summary-->
                    <div class="collapsible-body"><span>Phasellizzle interdizzle volutpizzle tellizzle. Ut sure adipiscing lorizzle.
                        My shizz non est. Nulla sapizzle shiznit, ultricizzle nizzle, accumsizzle vel, fermentizzle quis, ghetto.
                        Yo mamma nizzle phat. Etizzle pizzle shizzlin dizzle ante. Mauris crazy.
                        Vestibulizzle izzle pede varius nibh commodo commodo.</span></div>
                </li>
            </ul>


            <div class="col s12 m2 l2"></div>
        </div>
</section>
<div th:replace="fragments/footer :: footer"></div>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="/javascript/style.js"></script>
</body>
</html>




