<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Register</title>
</head>
<body>
<div class="inner-login">
    <h3>Register Your Account!</h3>
    <form id="password-form" method="post" th:action="@{/register}" autocomplete="on">
        <div th:if="${errors}" th:each="error: ${errors}">
            <p th:text="${error}"></p>
        </div>
        <label>Email</label><br/>
        <input name="username" required/><br/>

        <label class="login-info">Password</label><br/>
        <input name="password" required/><br/>

        <label>Confirm Password</label><br/>
        <input name="confirmPassword" required/><br/>

        <label>First Name</label><br/>
        <input name="firstName"/><br/>

        <label>Last Name</label><br/>
        <input name="lastName"/><br/>

        <label>Team</label><br/>
        <input name="team"/><br/>

        <button type="submit">Register</button><br/>
    </form>
</div>
</body>
</html>