<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <title>Generate Ticket</title>
</head>
<body>
    <div th:replace="fragments/header :: headerFragment"  ></div>
    <h1>Create a Ticket</h1>
    <form action="/create/ticket" method="post">
        <label for="severity">Severity</label><input name="severity" id="severity" type="number" min="1" max="5">
        <label for="summary">Summary</label><input name="summary" id="summary" type="text" maxlength="25">
        <input type="submit" value="Create Ticket">
    </form>
    <div th:replace="fragments/footer :: footerFragment"  ></div>
</body>
</html>